body {
  padding-top: 50px;
  padding-bottom: 80px;
  font-size: 18px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* section visibility */
body > section:not(.active) { display:none; }

.navbar-fixed-bottom {
  background-color: #f5f5f5;
}

.container .footer-text {
  margin: 20px 0;
}

